#profilePic{
    max-width: 40%; 
    max-height: 70%; 
  }

  footer{
      background:black;
  }

  #link {
    position: relative;
    margin-bottom: 40px;
    cursor: pointer;
    transition: all .8s ease;
    height: 10px;
    width: 10px;
    column-gap: 200px;
}

#link:hover {
    transform: scale(1.1);
}

#link img {
    
    max-width: 100%;
}
footer {
    height: 80px;
    border-top: 8px solid black;
    line-height: 80px;
    color: #CCCCCC;
    text-align: center;
}
#myName{
    height: 60px;
   font-size: 35px;
    line-height: 60px;
    color:white;
    font-weight:bold;
    left:20px;
} 
#about{
    left:20px;
}

header{
    border-bottom: 8px solid black;
}
body {
    border: 2px solid black;
     background-repeat: no-repeat;
    background-size: auto;
  }
  #para{
      color:white;
      font-weight: bold;
      margin-top:60px;
  }


  a{
color:white;
font-weight: bold;
  }

  h1{
    color:white;
    font-weight: bold;
    height: 40px;
    font-size: 35px;
     line-height: 60px;
}
h2{
    color:white;
    font-weight: bold;
    height: 40px;
    font-size: 35px;
     line-height: 60px;
}
h3{
    color:white;
    font-weight: bold;
    height: 40px;
    font-size: 35px;
     line-height: 60px;
}

h4{
    color:white;
    font-weight: bold;
    height: 40px;
    font-size: 35px;
     line-height: 60px;
     
}
#out{
    color:white;
    font-weight: bold;
    height: 40px;
    font-size: 35px;
     line-height: 60px;
}




#form{
    color:white;
    font-weight: bold;

}

.nav-link{
    color:white;
    font-weight:bold;
}

#fix{
    color:white;
    font-weight:bold;
}
 .label{
     color:white;
    

}

#social{
    color:blue
}

#srcimg{
    height: 200px;
    width: 200px;
}
 
#picSection{
    padding-bottom: 175px;
    padding-top:    175px;
}

#dylan{
    position: absolute;
    left: 50px;
    height: 500px;
    width: 400px;
    float: left;
 
}

#linked{
    position: absolute;
  right: 50px;
  width: 75px;
  height: 75px;
}

#github{
    position: absolute;
    right: 150px;
    width: 75px;
    height: 75px;
}

#para{
    position: absolute;
    bottom: 150px;
    
    
}



  
  

